.header, .footer {
    background: rgb(13, 37, 51);
    color: white; 
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

.footer {
    justify-content: center;
}

.one, .two, .three, .four {
    display: flex;
    
    flex-direction: column;
    align-items: center;
}


.one {
    background: rgb(13, 37, 51); 
    color: white;
    flex-direction: row;
    justify-content: center;
}

.two {
    background: white;
}

.three {
    background: grey;
}

.four {
    background: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
}
