body {
    background-color: black;
}

.header, .footer, .one {
    background-color: #1f2937;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;  
    height: auto;  
}

.Links >  a {
    text-decoration: none;
    color: white;
}

.footer {
    font-size: 25px;
    padding:25px; 
}

.header, .one {
    padding: 10px;
    font-size: 25px;
    padding-right:100px;
    padding-left:100px;
    padding-bottom: 100px;
}

 .four {
    padding: 100px;
    padding-left: 25px;
    padding-right: 25px;
}

.box {
    background-color: #3882F6;
    border-radius: 15px;
    height: auto;
    padding: 100px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.box button {
    border-radius: 15px;
    width: 100px;
    height: 50px;
    background-color: #3882F6;
    border: 2px solid white;
    color: white;
}

.Links a{
    padding: 12px;
}

.author {
    justify-content: right;
    text-align: right;
    padding-right: 100px;
    padding-bottom: 100px;
    font-size: 36px;
    font-weight: bolder;
    flex: 1;
    width:auto;
}

.body {
    flex: 1;
    font-size: 36px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}



.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.pic-container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 25px;
    bottom: 0;
    justify-content: flex-end;
    align-items: flex-end;
}

.pic-text{
    display: flex;
    width:auto;
    gap: 25px;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    
}

.pic-text > div {
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    
    flex: 1;
    
}

.pic-container > div{
    border: 2px solid #3882F6;
    border-radius: 15px;
    display: flex;
    height:100px;
    width:100px;
    flex: 1; 
    justify-content: space-between;
    
}
.three {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.pic-container {
    display: flex;
    flex-direction: row;
}

.footer {
    justify-content: center;
}

.two, .four {
    background-color: #f9faf8;
}

.three {
    background-color: #e5e7eb;
}

.one {
    display: flex;
    justify-content: space-between
}

.left {
    width: 350px;
    height: 150px;
    
}

.left > button {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    border-radius: 15px;
    width: auto; 
    height: 15%;
    color: white;
}


.left > h3 {
    font-size: 20px;
}

.left > div {
    font-size: 20px;
    padding-bottom: 10px;
}

.right {
    width: 300px;
    height: 150px;
    border: 2px solid grey;
    background-color: grey;
    text-align: center;
}


